@charset "UTF-8";

*{
    margin: 0px;
}
  /* corpo do site */
body {
    display: grid;
    grid-template-columns: auto auto;

}

/* estilizção do menu latela */
section#menu {
    background-color: #1D2A2C;
    width: 100px;
    height: 100vh;
    border-radius: 0px 10px 10px 0px;
}

/* estilização do cabeçalhi do site */

div#cabecalho {
    margin: 20px;
    font-size: 1.5em;
}

/* estilização do caixa de texto e do botão de adicionar */

div#texto {
    display: flex;
    gap: 10px;
}

input#txt {
    width: 200px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input#adicionar {
    border-radius: 5px;
    outline: none;
    background-color: #1D2A2C;
    color: aliceblue;
    font-weight: bold;
}

input#adicionar:hover {
    background-color: darkslategrey;
    cursor: pointer;
}

/* estilização da lista de tarefas */

div#tarefas {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
}

ul#lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    list-style-type: none;
    
    
}

input.checkbox {
    align-self: center;
    margin-right: 10px;
    padding-top: 10px;
    
}



   








